/* Mobile/Default View */
html {
    scroll-behavior: smooth;
}

/* Skip to Main */
.skip-to-main-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: white;
}

.skip-to-main-link:focus {
    position: static;
    width: auto;
    height: auto;
}

/* Back to Top */
.top {
    --offset: 50px;

    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 900;
    place-self: end;
    margin-top: calc(100vh + var(--offset));

    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
    white-space: nowrap;
    z-index: 9999999;
}

/* Audio Container */
.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

/* Navigation */
nav {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #dde5b6;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    color: #386138;
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}

nav ul li:hover {
    color: #000000;
    text-decoration: underline;
}

li .inactive {
    text-decoration: none;
    color: #386138;
}

li .active {
    color: #000000;
    text-decoration: underline;
    text-transform: uppercase;
}

/* Body */
body{
    background-color: rgb(247, 248, 236);
    font-family: "Coolvetica", "Inter", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 1em;
    font-weight: 300;
    line-height: 2.0;
    color: #3d3d3d;
}

/* Main */
main {
    margin: 0% 10% 0% 10%;
}

/* Footer */
footer {
    text-align: left;
    margin: 2% 10% 0% 10%;
}

/* H1 */
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(10, 45, 10);
    text-align: center;
}

/* H2 */
h2 {
    font-size: 1.75em;
    font-weight: bold;
    color: rgb(10, 45, 10);
    text-align: left;
}

/* H3 */
h3 {
    font-size: 1.25em;
    font-weight: bold;
    color: rgb(10, 45, 10);
    text-align: left;
}

/* P */
p {
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 2em;
}

/* Images */
img, img.animation {
    width: 20em;
    height: 20em;
    object-fit: cover;
    border-radius: 5%;
}

video {
    width: 18em;
    height: 20em;
    object-fit: cover;
    border-radius: 5%;
    padding-bottom: 10px;
}

/* Lists (ordered) */
ol li {
    list-style-type: decimal;
    margin-left: 1em;
}

/* Scroll Container - Featured Gallery */
.featured-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
    align-items: stretch;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.featured-gallery img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 5%;
    padding: 10px;
}

.featured-img:hover {
    transform: scale(1.03);
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
}

/* Grids */
.list-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: stretch;
}

.grid-item {
    text-align: center;
    line-height: 1.5;
    border: 4px solid #19310f;
    background-color:rgb(233, 243, 209);
    padding: 20px;
}

.grid-container-pets, .grid-container-recipes, .grid-container-travel{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5%;
    align-items: start;
    padding-bottom: 20px;
}

.additional-gallery, .travel-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
    justify-content: center;
}

.additional-gallery img, .travel-gallery img {
    width: 100%;
}

.caption {
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
}

a {
    color: #19310f;
    text-decoration: underline;
}

/* Media Queries */
/* Tablet */
@media screen and (min-width: 768px) {
    .featured-gallery, .additional-gallery {
        display: block;
        background-color: #94a58f;
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
    }

    .additional-gallery img {
        width: 20em;
        height: 20em;
        object-fit: cover;
        border-radius: 5%;
        padding: 10px;
    }

    .grid-container-pets, .grid-container-recipes, .grid-container-travel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5%;
        align-items: start;
    }

    .travel-text {
        grid-column: span 2;
    }

    .list-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        justify-items: stretch;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .grid-container-pets, .grid-container-recipes {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 5%;
        align-items: start;
    }

    .featured-gallery img {
        width: 20em;
        height: 20em;
        border-radius: 5%;
    }

    .grid-container-travel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5%;
        align-items: start;
    }

    .travel-text {
        grid-column: span 1;
    }

    .list-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        justify-items: stretch;
    }
}

/* Reduce Motion */
@media (prefers-reduced-motion: reduce) {
    .animation {
        visibility: hidden;
        animation: none;
    }
}